<div class="button-container">
    <button class="styled-button" routerLink="/carta/Disorient">Disorient</button>
    <button class="styled-button" routerLink="/carta/Spectacular Showdown">Spectacular Showdown</button>
    <button class="styled-button" routerLink="/carta/Mesmeric Fiend">Mesmeric Fiend</button>
    <button class="styled-button" routerLink="/carta/Talisman of Resilience">Talisman of Resilience</button>
    <button class="styled-button" routerLink="/carta/Command Tower">Command Tower</button>
    <router-outlet></router-outlet>
  </div>
  