<div align="center">

    <div *ngIf="caricamento">
      Caricamento...
    </div>
  
    
    <div *ngIf="!caricamento && datiCarta">
      <h1>{{ datiCarta.name }}</h1> 
      <img *ngIf="datiCarta.image_uris?.normal" [src]="datiCarta.image_uris.normal" alt="{{ datiCarta.name }}">
      <p>Tipo: {{ datiCarta.type_line }}</p>
      <p>Testo: {{ datiCarta.oracle_text }}</p>
      <p>Set: {{ datiCarta.set_name }}</p>
      <p>Prezzo: {{ datiCarta.prices?.usd || 'N/A' }}</p> 
    </div>
  </div>
  